body {
  text-align: center;
  font-family: 'Itim', cursive;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  flex-wrap: wrap;
  margin: 40px auto;
}
label {
  font-family: 'Sriracha', cursive;
}

input {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-family: 'Sriracha', cursive;
  border: 0;
  cursor: pointer;
  border-radius: 30px 60px;
  padding: 8px 12px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: #45c496;
  background-color: #fff;
  border: 2px solid #45c496;
  transition: transform 0.5s ease-in-out;
}
button:hover {
  color: black;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
h1 {
  color: #ff3e00;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #45c496;
  font-family: 'Sriracha', cursive;
}
